.imagenlogo{
    height: 60px;
}

.navbar{
   background-color:  #28a745;
   color: white;
}
.parrafo1{
    color: #28a745;
}
.Formulario{
    background-color: #28a745;
}
.colores{
    color: white;
}
.my-2{
    height: 30px;
}
